.fondo{
    background-image: url('img/background_login.png');
}

#iframe_receta{
    width: 100%;
    height: 500px;
}

#iframe_cobro{
    width: 100%;
    height: 500px;
}

#iframe_reports{
    width: 100%;
    height: 500px;
}
